<html lang="en">

<body>
  <h2>Hey {{username}}, please verify your new email address.</h2>
  <p>
    The email on your account was changed to this address. Click the link below to verify it and reactivate your account. <strong>Thanks!</strong>
  </p>
  <p>
    <a href="{{url}}" target="_blank" rel="noopener">
      Verify your new email
    </a>
  </p>
  <p> If this link does not work, please copy and paste the following URL into your browser: {{url}}</p>
  <p>
    If you did not make this change, someone else may have access to your account.
  </p>
</body>

</html>
